[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/regexrt/Desktop/README.txt]
row=6
col=0

[/home/regexrt/Desktop/README_desktop-live.txt]
row=5
col=0

[/home/regexrt/Desktop/README.html]
row=7
col=0

[/home/regexrt/Desktop/Release_notes_daedalus_5.0.md]
row=4
col=0

[/home/regexrt/Desktop/SMALLER_FONTS.desktop]
row=3
col=0

[/home/regexrt/Desktop/refractainstaller.desktop]
row=2
col=0

[/home/regexrt/Desktop/LARGER_FONTS.desktop]
row=8
col=0

[Trash]
row=0
col=0

[/home/regexrt]
row=1
col=0

